.card-header {
    .votes-count {
        margin-left: 10px;
    }
}

.img-container {    
    position: relative;
    padding-bottom: 150%;
    height: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card-body {
    display: flex;
    flex-flow: column nowrap;
    
    .my-vote {
        margin: auto 0 0 0;
        text-align: center;
    
        app-stars {
            margin-left: 10px;
        }
    }
}

.add-button {
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    background: white;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;

    .ng-fa-icon {
        position: absolute;
        top: -2px;
        font-size: 4rem;
        line-height: 4rem;
        color: #4caf50;
    }
}

.modal-dialog {    
    height: calc(100% - 3.5rem);

    .modal-content {
        height: 100%;

        .modal-body {
            overflow: auto;
        }
    }
}