<div class="container-fluid mt-5" *ngIf="loadingFilms">
    Loading films...
</div>

<div class="container-fluid" *ngIf="!loadingFilms">
    <h1 class="my-3">Ultimi 4 film inseriti</h1>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let film of lastFilms" style="margin-bottom: 30px;">
            
            <!-- Film -->
            <div class="card h-100">
                <!-- Header del film -->
                <div class="card-header d-flex">
                    <div class="mr-auto"><fa-icon [icon]="faClock"></fa-icon> {{ film.duration ? film.duration.slice(0,5) : '--:--' }}</div>
                    <app-stars [vote]="film.vote" [canEdit]="false"></app-stars>
                    <!-- <div class="votes-count">({{ film.votes.length }})</div> -->
                    <div class="position-relative ml-3" *ngIf="userService.loggedUser != null && film.created_by == userService.loggedUser.id">
                        <fa-icon [icon]="faEllipsisV" (click)="film.showFilmMenu = !film.showFilmMenu" type="button"></fa-icon>
                        <div class="dropdown-menu dropdown-menu-right" [class.show]="film.showFilmMenu">
                            <button class="dropdown-item" (click)="film.showFilmMenu = false" routerLink="/films/edit/{{ film.id }}">Edit</button>
                            <button class="dropdown-item" (click)="remove(film)">Remove</button>
                        </div>
                    </div>
                </div>
                
                <!-- Immagine -->
                <div class="img-container" [ngStyle]="{'background-image': 'url(' + (film.cover_url || 'https://via.placeholder.com/200x300?text=NO+COVER') + ')'}"> </div>
                
                <!-- Info -->
                <div class="card-body">
                    <h5 class="card-title">{{ film.title }}</h5>
                    <h6 class="text-info">{{ film.director ? film.director : 'Director unknown' }}<span *ngIf="film.release_year">, {{ film.release_year ? film.release_year : '-'}}</span></h6>
                    <hr>
                    <p class="card-text">{{ film.description }}</p>
                    
                    <h6>Con:</h6>
                    <p *ngIf="!film.actors.length">-</p>
                    <p *ngIf="film.actors.length"><ng-container *ngFor="let actor of film.actors; let isLast = last">{{ actor.firstname + ' ' + actor.lastname + (isLast ? '' : ', ') }}</ng-container></p>
                    
                    <h6>Tag:</h6>
                    <div class="mb-3">{{ film.tags || '-' }}</div>
                    
                    <p><a href="" (click)="showPlot(film, $event)">Mostra trama</a></p>

                    <p class="my-vote" *ngIf="userService.loggedUser != null">Il tuo voto: <app-stars [vote]="film.vote" [canEdit]="true" (voteChanged)="setVote(film, $event)"></app-stars></p>
                </div>
                
                <!-- Footer -->
                <div class="card-footer text-muted">
                    <div *ngIf="!film.genres.length">-</div>
                    <div *ngIf="film.genres.length"><ng-container *ngFor="let genre of film.genres; let isLast = last">{{ genre.name + (isLast ? '' : ', ') }}</ng-container></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid" *ngIf="!loadingFilms">
    <h1 class="my-3">I 4 film più votati</h1>

    <div class="row">
        <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let film of topFilms" style="margin-bottom: 30px;">
            
            <!-- Film -->
            <div class="card h-100">
                <!-- Header del film -->
                <div class="card-header d-flex">
                    <div class="mr-auto"><fa-icon [icon]="faClock"></fa-icon> {{ film.duration ? film.duration.slice(0,5) : '--:--' }}</div>
                    <app-stars [vote]="film.vote" [canEdit]="false"></app-stars>
                    <!-- <div class="votes-count">({{ film.votes.length }})</div> -->
                    <div class="position-relative ml-3" *ngIf="userService.loggedUser != null && film.created_by == userService.loggedUser.id">
                        <fa-icon [icon]="faEllipsisV" (click)="film.showFilmMenu = !film.showFilmMenu" type="button"></fa-icon>
                        <div class="dropdown-menu dropdown-menu-right" [class.show]="film.showFilmMenu">
                            <button class="dropdown-item" (click)="film.showFilmMenu = false" routerLink="/films/edit/{{ film.id }}">Edit</button>
                            <button class="dropdown-item" (click)="remove(film)">Remove</button>
                        </div>
                    </div>
                </div>
                
                <!-- Immagine -->
                <div class="img-container" [ngStyle]="{'background-image': 'url(' + (film.cover_url || 'https://via.placeholder.com/200x300?text=NO+COVER') + ')'}"> </div>
                
                <!-- Info -->
                <div class="card-body">
                    <h5 class="card-title">{{ film.title }}</h5>
                    <h6 class="text-info">{{ film.director ? film.director : 'Director unknown' }}<span *ngIf="film.release_year">, {{ film.release_year ? film.release_year : '-'}}</span></h6>
                    <hr>
                    <p class="card-text">{{ film.description }}</p>
                    
                    <h6>Con:</h6>
                    <p *ngIf="!film.actors.length">-</p>
                    <p *ngIf="film.actors.length"><ng-container *ngFor="let actor of film.actors; let isLast = last">{{ actor.firstname + ' ' + actor.lastname + (isLast ? '' : ', ') }}</ng-container></p>
                    
                    <h6>Tag:</h6>
                    <div class="mb-3">{{ film.tags || '-' }}</div>
                    
                    <p><a href="" (click)="showPlot(film, $event)">Mostra trama</a></p>

                    <p class="my-vote" *ngIf="userService.loggedUser != null">Il tuo voto: <app-stars [vote]="film.vote" [canEdit]="true" (voteChanged)="setVote(film, $event)"></app-stars></p>
                </div>
                
                <!-- Footer -->
                <div class="card-footer text-muted">
                    <div *ngIf="!film.genres.length">-</div>
                    <div *ngIf="film.genres.length"><ng-container *ngFor="let genre of film.genres; let isLast = last">{{ genre.name + (isLast ? '' : ', ') }}</ng-container></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" [class.show]="selectedFilm" [ngStyle]="{'display': selectedFilm ? 'block' : 'none' }" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ selectedFilm?.title }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="hidePlot()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ selectedFilm?.plot }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" (click)="hidePlot()">Close</button>
            </div>
        </div>
    </div>
</div>