.page-header {
    background: #1F2326;
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.5rem;
    
    .title {
        color: red;
        text-transform: uppercase;
        margin-left: 1rem;
        
        &:hover {
            text-decoration: none;
        }
    }

    .navbar-button {
        cursor: pointer;
        
        &:hover {
            color: red;
        }

        .login-form {
            padding: 1rem;
            width: 20rem;
        }
    }
}