<div class="page">
	<app-navbar></app-navbar>

	<div class="page-body">
		<div class="page-menu" [class.opened]="menuService.menuIsOpen">
			<a routerLink="/films/list" class="page-menu-item" (click)="closeMenu()">Films</a>
			<a routerLink="/films/add" class="page-menu-item" (click)="closeMenu()" *ngIf="userService.loggedUser">Add Film</a>
			<a routerLink="/actors/list" class="page-menu-item" (click)="closeMenu()">Actors</a>
			<a routerLink="/actors/add" class="page-menu-item" (click)="closeMenu()" *ngIf="userService.loggedUser">Add Actor</a>
			<a routerLink="/genres/list" class="page-menu-item" (click)="closeMenu()">Genres</a>
			<a routerLink="/genres/add" class="page-menu-item" (click)="closeMenu()" *ngIf="userService.loggedUser">Add Genre</a>
		</div>
		<div class="page-content">
			<router-outlet></router-outlet>
		</div>
	</div>

	<nav class="navbar navbar-dark justify-content-between page-footer">
		<span class="navbar-text">Footer</span>
	</nav>
</div>